@white: #ffffff;
@black: #000000;
@light-gray: #F2F2F2;

// @lime-green: #8ccb26;
@lime-green: rgba(154, 205, 50, 0.79);
@brand-primary-opaque: rgba(235, 104, 100, 0.79);

@brand-primary-pink: #ff7878;

@brand-secondary-blue: #0099ff;

@turquoise: #74c9be;

.white {
	background-color: @white;
}

.text-white {
	color: @white;
}

.text-black {
	color: @black;
}

.text-gray {
	color: @gray;
}

.text-yellow {
	color: @brand-success;
}

.text-pink {
	color: @brand-info;
}

.bg-light-gray {
	background-color: @light-gray;
}

.bg-turquoise {
	background-color: @brand-primary;
}

.bg-white {
	background-color: @white;
}

.white-on-turquoise {
	background-color: @brand-primary;
	color: @white;
}

.yellow-on-turquoise {
	background-color: @brand-primary;
	color: @brand-success;
}

.pink-on-yellow {
	background-color: @brand-success;
	color: @brand-info;
}



