
header.nav-header {
	position: relative;
	min-height: @navbar-height;
}

.header-banner {
	background-color: #57FFA5;
	height: 220px;
	width: 100%;
}

.header-nav {
	.navbar-fixed-top;

	&:before {
		position: relative;
		.header-banner;
	}
}

.fixed-header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
}

