.project-cards {
  list-style: none;
}

.card {
  padding: 15px;
  &:hover {
    background: #ffffff;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
  }
  h4 {
    .oswald-light;
    font-size: 15px;
  }
}