{% include head.html %}

  {% include homepage-header.html %}  

  <div class="clear-fix"></div>

  <div id="home">

    {{ content }}

    <!-- TO DO: MAKE NAVBAR BACKGROUND COLOR BLACK AFTER JUMBOTRON!!! -->

  </div>

	<!-- ABOUT ME SECTION -->
	<section id="about" class="pad-50-vertical">
		{% include about-me.html %}
	</section>

	<section id="work" class="gray-section pad-50-vertical">
		{% include project-cards.html %}
	</section>

	<section id="process" class="pad-50-vertical">
		{% include process.html %}
	</section>

	<section id="skills" class="pad-50-vertical">
		{% include dev-skills.html %}
	</section>


	<!-- SECTION DIVIDER1 -->
	<!--<section class="section-divider textdivider san-francisco">-->
		<!--<div class="container">-->
			<!--<h1>Get In Touch!</h1>-->
			<!--<hr>-->
			<!--<p>I live in sunny San Francisco, California.  I am currently available for work and would love to chat!</p>-->
			<!--<a href="#" class="btn btn-lg btn-outline btn-white-big">Contact Me</a>-->
		<!--</div>&lt;!&ndash; container &ndash;&gt;-->
	<!--</section>&lt;!&ndash; section &ndash;&gt;-->

  {% include contact.html %}

  <div class="scroll-btn"><a id="scroll-to-top" href="#" class="btn btn-info scroll-btn"><i class="fa fa-angle-up fa-2x fa-scroll-btn" role="button" data-toggle="tooltip"></i></a></div>

  {% include footer.html %}

{% include foot.html %}