{% include head.html %}

  {% include homepage-header.html %}  

  <div class="clear-fix"></div>

  <div id="home">

    {{ content }}

    <!-- TO DO: MAKE NAVBAR BACKGROUND COLOR BLACK AFTER JUMBOTRON!!! -->

  </div>

  {% include work.html %}

  {% include contact.html %}

  <div class="scroll-btn"><a id="scroll-to-top" href="#" class="btn btn-info scroll-btn"><i class="fa fa-angle-up fa-2x fa-scroll-btn" role="button" data-toggle="tooltip"></i></a></div>

  {% include footer.html %}

{% include foot.html %}