{% include head.html %}

    {% include header.html %}

        <div class="clear-fix"></div>

        <section>
            <a href="{{ site.url }}/#work" class="btn btn-link btn-projects">
                <i class="mdi-hardware-keyboard-backspace"></i>All Projects</a>
        </section>

        <article id="work">

            <header class="page-header page-header-section">

                {% include project-header.html %}

            </header>

            {{ content }}

        </article>

        {% include pagination-buttons.html %}

        {% include contact.html %}

    {% include footer.html %}

{% include project-foot.html %}