{% include head.html %}

    {% include header.html %}

        <div class="clear-fix"></div>

        <section>
          {% include project-links.html %}
        </section>

        <article>

            <header class="page-header page-header-section">

                {% include project-header.html %}

            </header>

            {{ content }}

        </article>

        {% include pagination-buttons.html %}

        {% include contact.html %}

    {% include footer.html %}

{% include foot.html %}