@import "custom-mixins.less";
@import "components/header.less";

//Google Fonts -- TO DO: CHANGE FONTS TO WHAT YOU WANT!!!!
@gFontName: 'Roboto Slab';
@sansFontFamily: @gFontName, Arial, sans-serif;
 
/* v1.4
.gFontImport(@gFontName);
.gFontImport(@gFontName;'400,700');
.gFontImport(@gFontName;'400,700';'latin,latin-ext');
*/
// .gFontInject(@gFontName);
// .gFontInject(@gFontName;'400,700');
// .gFontInject(@gFontName;'400,700';'latin,latin-ext');
 
body {
font-family: @sansFontFamily;
}

.center-inline-block {
	.display-inline;
	.pos-relative;
	margin: 0 auto;
}

.wrapper-j {
	.border-box;
	margin: 1%;
	// padding: 2%;
}