@import "custom-mixins.less";
@import "components/fonts.less";
@import "components/header.less";
@import "components/navbar.less";

body {
	background-color: #f8f8f8;
	font-family: @sansFontFamily;
}

.center-inline-block {
	.display-inline;
	.pos-relative;
	margin: 0 auto;
}

.wrapper-j {
	.border-box;
	margin: 1%;
	// padding: 2%;
}

.footer-txt {
	text-align: center;
}

.no-border-radius {
	border-radius: 0px;
}

.fixed-footer {
	position: fixed;
	// left: 0;
	bottom: 0;
	width: 100%;
}

.fixed-header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
}