// Custom Bootstrap Variables
//  --------------------------------------------------


//== Colors  --------------------------------------------------


//== Scaffolding
//
// ## Settings for some of the most global styles.

//** Background color for `<body>`.
@body-bg:               #f8f8f8;
//** Global text color on `<body>`.
@text-color:            @gray;


//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

@font-family-sans-serif:  @oswald-font-family;
@font-family-serif:       @pathway-font-family;

@font-family-base:        @font-family-sans-serif;

//** By default, this inherits from the `<body>`.
@headings-font-family:    @font-family-sans-serif;
@headings-font-weight:    @oswald-regular;