<section class="contact">
	<div class="container-fluid">
		<div class="row">
			<header>
				<h2 class="text-white">Contact Me</h2>
			</header>
			<section class="pad">
				<h3><i class="fa fa-twitter fa-2x"></i>  Twitter</h3>
				<h3><a href="http://linkd.in/1jVtBq8" target="_blank" class="btn btn-success btn-outline btn-lg"><i class="fa fa-linkedin fa-2x"></i>   Linkedin</a></h3>
				<h3><a href="http://bit.ly/1eellcy" target="_blank"class="btn btn-success btn-outline btn-lg"><i class="fa fa-github fa-2x"></i>   Github</a></h3>
				<h3><a href="http://bit.ly/1h6rGvr" target="_blank" class="btn btn-success btn-outline btn-lg"><i class="fa fa-pinterest fa-2x"></i>   Pinterest</a></h3>
			</section>
		</div>
	</div>
</section>