<section id="dev-frameworks" class="section-box dev-frameworks">

  <div class="container">
    <div class="row">
      <div class="text-center col-xs-12">
        <h2 class="section-header">A Few of the Libraries, Frameworks, & Tools I Use</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <img src="http://res.cloudinary.com/dc8ynxibm/image/upload/v1400974396/all-frameworks2_2_tinhoa.png" class="img-responsive">
      </div>
    </div>
  </div>

</section>