
<div class="clear-fix"></div>

<!-- FOOTER -->

<footer class="white">
	<!-- <hr> -->
	<div class="container">
		<div class="row">
			<div class="center-block">
				<p class="muted center-block footer-txt">© 2014 Jamie Marcus. All rights reserved</p>
			</div>
		</div>
	</div>
</footer><!-- END FOOTER -->

<!-- <li class="sidebar-nav-item"><a href="{{ site.github.repo }}/archive/v{{ site.version }}.zip">Download</a></li>
<li class="sidebar-nav-item"><a href="{{ site.github.repo }}">GitHub project</a></li>
<li class="sidebar-nav-item">Currently v{{ site.version }}</li> -->