</div> <!-- END GLOBAL SITE FLUID CONTAINER -->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery.js"></script>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>

<script src="http://cdnjs.cloudflare.com/ajax/libs/holder/2.3.1/holder.min.js"></script>
<script src="dist/js/holder.js"></script>
<script src="../dist/js/holder.js"></script>
<script src="dist/js/scroll-to-top.js"></script>


</body>
</html>