
<div class="clear-fix"></div>

<!-- MAIN NAVIGATION -->
<nav class="navbar navbar-default navbar-fixed-top no-border-radius" role="navigation">
	<div class="container-fluid wrapper-j">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="{{ site.url }}">Jamie Marcus</a>
			</div>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="{{ site.url }}">Home</a></li>
				<li><a href="{{ site.url }}/About">About</a></li>
				<li><a href="{{ site.url }}/portfolio">Portfolio</a></li>
				<li><a href="{{ site.url }}/contact">Contact</a></li>
			</ul>
	</div>
</nav>  <!-- END MAIN NAVIGATION -->
