<section class="snippets-block">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-6 col-md-4">
				<div class="card">
					<a href="#">
						<img src="http://placehold.it/350x150" class="img-responsive">
					</a>
				</div>
			</div>
		</div>
	</div>
</section>

<div class="continer bg-4">
	<div class="row">
	   <div class="col-sm-4 col-xs-6">
      
        <div class="panel panel-default">
          <div><img src="//placehold.it/450X250/565656/eee" class="img-responsive"></div>
          <div class="panel-body">
            <p class="lead">Hacker News</p>
            <p>120k Followers, 900 Posts</p>
            
            <p>
              <img src="https://lh4.googleusercontent.com/-9Yw2jNffJlE/AAAAAAAAAAI/AAAAAAAAAAA/u3WcFXvK-g8/s28-c-k-no/photo.jpg" width="28px" height="28px">
            </p>
          </div>
        </div><!--/panel-->
      </div><!--/col-->
      
      <div class="col-sm-4 col-xs-6">
      
      	<div class="panel panel-default">
          <div class="panel-thumbnail"><img src="//placehold.it/450X250/ffcc33/444" class="img-responsive"></div>
          <div class="panel-body">
            <p class="lead">Bootstrap Templates</p>
            <p>902 Followers, 88 Posts</p>
            
            <p>
              <img src="https://lh5.googleusercontent.com/-AQznZjgfM3E/AAAAAAAAAAI/AAAAAAAAABA/WEPOnkQS_20/s28-c-k-no/photo.jpg" width="28px" height="28px">
            </p>
          </div>
        </div><!--/panel--> 
      </div><!--/col-->
      
      <div class="col-sm-4 col-xs-6">
      
      	<div class="panel panel-default">
          <div class="panel-thumbnail"><img src="//placehold.it/450X250/f16251/444" class="img-responsive"></div>
          <div class="panel-body">
            <p class="lead">Social Media</p>
            <p>19k Followers, 789 Posts</p>
            
            <p>
              <img src="https://lh4.googleusercontent.com/-eSs1F2O7N1A/AAAAAAAAAAI/AAAAAAAAAAA/caHwQFv2RqI/s28-c-k-no/photo.jpg" width="28px" height="28px">
              <img src="https://lh4.googleusercontent.com/-9Yw2jNffJlE/AAAAAAAAAAI/AAAAAAAAAAA/u3WcFXvK-g8/s28-c-k-no/photo.jpg" width="28px" height="28px">
            </p>
          </div>
        </div><!--/panel--> 

      </div><!--/col--> 
	</div><!--/row-->
</div><!--/container-->




		<!-- SNIPPETS -->
		<div class="v-space"></div>
		<div class="container bg-4">
			<div class="row">
			   <div class="col-xs-10 col-xs-offset-1 col-sm-6 center-block">
		      
		        <div class="panel panel-default">
		          <div>
<!--   		          <img src="//placehold.it/450X250/565656/eee" class="img-responsive"> -->

                <img src="//placehold.it/350x150" class="img-responsive" data-src="holder.js/100%x300/social">
		          </div>
		          <div class="panel-body">
		            <p class="lead">Hacker News</p>
		            <p>120k Followers, 900 Posts</p>
		            <p>
		              <img src="https://lh4.googleusercontent.com/-9Yw2jNffJlE/AAAAAAAAAAI/AAAAAAAAAAA/u3WcFXvK-g8/s28-c-k-no/photo.jpg" width="28px" height="28px">
		            </p>
		          </div>
		        </div><!--/panel-->
		      </div><!--/col-->
			</div><!--/row-->
		</div><!--/container-->
		<div class="v-space"></div>
		
		
		<section class="snippets-block">
			<div class="v-space"></div>
    	<div class="container">
    		<div class="row">
    			<div class="col-sm-6 col-md-4 card-item">
    				<!-- <div class="card"> -->
    					<a href="#">
    						<div class="card">
	    						<div class="card-header"><h3>Project Title</h3></div></div>
	    						<div class="card-image">
	    							<img data-src="holder.js/100%x300/social" class="img-responsive">
	    						</div>
    						<div class="card">
	    						<div class="card-footer"><p class="lead">Some Text Goes Here</p>
	    						</div>
	    					</div>
    					</a>
  					<!-- </div> -->
    			</div>
    			<div class="col-sm-6 col-md-4 card-item"></div>
    			<div class="col-sm-6 col-md-4 card-item"></div>
    		</div>
    	</div>
    	<div class="v-space"></div>
		</section>