{% include head.html %}

  {% include homepage-header.html %}  

  <div class="clear-fix"></div>

  <div id="home">

    {{ content }}

    <!-- TO DO: MAKE NAVBAR BACKGROUND COLOR BLACK AFTER JUMBOTRON!!! -->

  </div>

  <section id="work" class="work">

    {% include project-cards.html %}

    <!-- <a href="#">View All</a> -->
     <!-- TO DO: ADD ACCORDIAN, THAT WHEN CLICKING ON LINK REVEALS ALL PROJECTS!!! -->

  </section>

  {% include contact.html %}

  {% include footer.html %}

{% include foot.html %}