<!--<section class="section gray-section content-section">-->
  <div class="container">
    <div class="row">
      <!--Start heading-->
      <div class="col-xs-12 text-center">
        <header class="section-header">
          <h2>About Me</h2></header>
      </div>
      <!--End heading-->
    </div>

    <!-- About Me Section -->
    <div class="row">

      <div class="col-xs-3 col-md-2">
        <div class="about-media center-block"><img src="http://res.cloudinary.com/dc8ynxibm/image/upload/v1399672137/jamie_marcus_headpic.jpg" alt="Jamie Marcus" class="img-responsive"></div>
      </div>

      <div class="col-xs-9 col-sm-9 col-md-10 pad-50-left">
        <div class="about-desc">
          <p class="lead no-lead small-lead">I am a UX designer with a background in engineering, and experience working as a front-end developer.</p>
          <p class="lead no-lead small-lead pad-25-bottom">I enjoy designing and developing digital products optimized for the people using them!</p>
          <!--<div class="page-scroll margin-top-20"><a class="btn btn-default" href="#contact">Hire Me</a>-->
            <!--<a class="btn btn-default" href="#works">See Portfolio</a>-->
          <!--</div>-->
        </div>
      </div>
    </div>
  </div>
  {% include experience.html %}

<!--</section>-->