<section id="dev-skills">
  <div class="container">
		<div class="row">
			<h3 class="text-center pathway-font pad-25-vertical">Dev Skills</h3>

			<div class="col-xs-6 col-sm-3 col-sm-offset-2">
				<canvas id="html" height="160" width="160"></canvas>
				<p class="lead text-black">HTML5</p>
				<br>
			</div>

			<div class="col-xs-6 col-sm-3">
				<canvas id="css" height="160" width="160"></canvas>
				<p class="lead text-black">CSS3 / LESS</p>
				<br>
			</div>

			<div class="col-xs-6 col-sm-3">
				<canvas id="js" height="160" width="160"></canvas>
				<p class="lead text-black">JavaScript / jQuery</p>
				<br>
			</div>

			<div class="col-xs-6 col-sm-3 col-sm-offset-4">
				<canvas id="git" height="160" width="160"></canvas>
				<p class="lead text-black">Git / Subversion Control</p>
				<br>
			</div>

			<div class="col-xs-6 col-sm-3">
				<canvas id="devOps" height="160" width="160"></canvas>
				<p class="lead text-black">DevOps</p>
				<br>
			</div>

		</div>
	</div>
</section>