<section id="dev-skills">
  <!--<div class="container">-->
		<div class="row">
			<!--<h3 class="text-center pathway-font pad-25-vertical">Dev Skills</h3>-->

			<div class="col-xs-6 col-sm-2 col-sm-offset-2">
				<canvas id="html" height="140" width="140" class="center-block"></canvas>
				<p class="lead text-black text-center">HTML5</p>
				<br>
			</div>

			<div class="col-xs-6 col-sm-2">
				<canvas id="css" height="140" width="140" class="center-block"></canvas>
				<p class="lead text-black text-center">CSS3 / LESS</p>
				<br>
			</div>

			<div class="col-xs-6 col-sm-2">
				<canvas id="js" height="140" width="140" class="center-block"></canvas>
				<p class="lead text-black text-center">JavaScript / jQuery</p>
				<br>
			</div>

			<div class="col-xs-6 col-sm-2">
				<canvas id="misc" height="140" width="140" class="center-block"></canvas>
				<p class="lead text-black text-center">Ruby / PHP / MySQL</p>
				<br>
			</div>

		</div>
	<!--</div>-->
</section>