<section id="dev-frameworks" class="section-box bg-white">

  <div class="container">
    <div class="row">
      <div class="text-center col-xs-12">
        <header>
          <h2>A Few of the Libraries, Frameworks, & Tools I Use</h2>
        </header>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 dev-frameworks">
        <img src="http://res.cloudinary.com/dc8ynxibm/image/upload/v1400974396/all-frameworks2_2_tinhoa.png" class="img-responsive">
      </div>
    </div>
  </div>

</section>