<div class="container">

	<div class="row">
		<div class="skills-wrapper">
			<h3 class="text-center pathway-font pad-25-vertical">Experience</h3>
			<!--Start skills left-->
			<div class="col-sm-6 col-md-6 pad-25-lateral">
				<div class="skills-main left">
					<!--Start skills info #1-->
					<h4 class="heading-progress">Lean / Agile Projects <span class="pull-right">95%</span></h4>
					<div class="progress">
						<div class="progress-bar" style="width: 95%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="95" role="progressbar">
						</div>
					</div>


					<h4 class="heading-progress">Web UX<span class="pull-right">95%</span></h4>
					<div class="progress">
						<div class="progress-bar" style="width: 95%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="95" role="progressbar">
						</div>
					</div>


					<!--Start skills info #2-->
					<h4 class="heading-progress">Web Development<span class="pull-right">90%</span></h4>
					<div class="progress">
						<div class="progress-bar" style="width: 90%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="90" role="progressbar">
						</div>
					</div>



					<!--Start skills info #3-->
					<h4 class="heading-progress">Information Architecture<span class="pull-right">95%</span></h4>
					<div class="progress">
						<div class="progress-bar" style="width: 95%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="95" role="progressbar">
						</div>
					</div>


					<!--Start skills info #4-->
					<h4 class="heading-progress">Digital Marketing & SEO <span class="pull-right">85%</span></h4>
					<div class="progress">
						<div class="progress-bar" style="width: 85%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="85" role="progressbar">
						</div>
					</div>

				</div>
			</div>
			<!--End skills left-->

			<!--Start skills right-->
			<div class="col-sm-6 col-md-6 pad-25-lateral ">
				<div class="skills-main right">
					<!--Start skills info #5-->
					<h4 class="heading-progress">Project Management<span class="pull-right">95%</span></h4>
					<div class="progress">
						<div class="progress-bar" style="width: 95%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="95" role="progressbar">
						</div>
					</div>

					<h4 class="heading-progress">Mobile UX<span class="pull-right">90%</span></h4>
					<div class="progress">
						<div class="progress-bar" style="width: 90%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="90" role="progressbar">
						</div>
					</div>


					<!--Start skills info #6-->
					<h4 class="heading-progress">Product Development<span class="pull-right">92%</span></h4>
					<div class="progress">
						<div class="progress-bar" style="width: 92%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="92" role="progressbar">
						</div>
					</div>


					<!--Start skills info #7-->
					<h4 class="heading-progress">Interaction Design<span class="pull-right">85%</span></h4>
					<div class="progress">
						<div class="progress-bar" style="width: 85%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="85" role="progressbar">
						</div>
					</div>


					<!--Start skills info #8-->
					<h4 class="heading-progress">IoT<span class="pull-right">70%</span></h4>
					<div class="progress">
						<div class="progress-bar" style="width: 70%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="70" role="progressbar">
						</div>
					</div>

				</div>
			</div>
			<!--End skills right-->
		</div>
		<!--/.skills-wrapper  -->
	</div> <!-- /.row-->

	</div> <!-- /.container-->