
<div class="clear-fix"></div>

<!-- FOOTER -->

<footer class="white visible-xs">
	<!-- <hr> -->
	<div class="container visible-xs footer-content-mobile">
		<div class="row">
			<div class="center-block">
				<p class="muted center-block footer-txt"><a href="#" class="text-black">About this Site</a></p>
			</div>
		</div>
		<div class="row">
			<div class="center-block">
				<p class="muted center-block footer-txt"><a href="{{ site.github.repo }}" class="text-black" target="blank">View Project on Github</a></p>
			</div>
		</div>
		<div class="row">
			<div class="center-block">
				<p class="muted center-block footer-txt">© 2014 Jamie Marcus. All rights reserved</p>
			</div>
		</div>
	</div>
</footer><!-- END FOOTER -->

<!-- <a href="{{ site.github.repo }}/archive/v{{ site.version }}.zip">Download</a> -->
<!-- <p>Currently v{{ site.version }}</p> -->

<!-- FOOTER -->

<footer class="white hidden-xs">
	<!-- <hr> -->
	<div class="container-fluid hidden-xs footer-content">
		<div class="row">
			<div class="col-sm-3 col-sm-offset-9">
				<p class="muted pull-right"><a href="#" class="text-black">About this Site</a></p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<p class="muted pull-left footer-txt">© 2014 Jamie Marcus. All rights reserved</p>
			</div>
			<div class="col-sm-6">
				<p class="muted pull-right"><a href="{{ site.github.repo }}" class="text-black" target="blank">View Project on Github</a></p>
			</div>
		</div>
	</div>
</footer><!-- END FOOTER -->
