<!--<div class="container-fluid">-->
  <!--<div class="row">-->

    <!--<div class="col-xs-6 no-side-padding">-->
      <!--<a href="#" class="btn btn-default btn-lg btn-block pagination-buttons"><span class="right-icon-spacer"><i class="fa fa-angle-left fa-lg"></i></span> Previous Project</a>-->
    <!--</div>-->

    <!--<div class="col-xs-6 no-side-padding">-->
      <!--<a href="#" class="btn btn-default btn-lg btn-block pagination-buttons">Next Project <span class="left-icon-spacer"><i class="fa fa-angle-right fa-lg"></i></span></a>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<div class="container">
  <div class="row">

    <div class="col-xs-12">
      <ul class="pager">
        <li class="previous disabled"><a href="#">← Older</a></li>
        <li class="next"><a href="#">Newer →</a></li>
      </ul>
    </div>

  </div>
</div>

<div class="clear-fix"></div>