<div class="container-fluid pad-50-vertical">
  <div class="row">

    <div class="col-xs-6 col-sm-3 col-sm-offset-2">
      <a href="{{ site.url }}/#work" class="btn btn-default btn-lg btn-block btn-outline-info pagination-buttons project-footer-btn"><span class="right-icon-spacer"><i class="fa fa-angle-left fa-lg"></i></span> All Projects</a>
    </div>

    <div class="col-xs-6 col-sm-3 col-sm-offset-2">
      <a href="#" class="btn btn-default btn-lg btn-block btn-outline-primary pagination-buttons project-footer-btn">Back To Top <span class="left-icon-spacer"><i class="fa fa-angle-up fa-lg"></i></span></a>
    </div>
  </div>
</div>


<!--<div class="container-fluid">-->
  <!--<div class="row">-->

    <!--<div class="col-xs-6 no-side-padding">-->
      <!--<a href="#" class="btn btn-default btn-lg btn-block pagination-buttons"><span class="right-icon-spacer"><i class="fa fa-angle-left fa-lg"></i></span> Previous Project</a>-->
    <!--</div>-->

    <!--<div class="col-xs-6 no-side-padding">-->
      <!--<a href="#" class="btn btn-default btn-lg btn-block pagination-buttons">Next Project <span class="left-icon-spacer"><i class="fa fa-angle-right fa-lg"></i></span></a>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<!--<div class="container">-->
  <!--<div class="row">-->

    <!--<div class="col-xs-12">-->
      <!--<ul class="pager">-->
        <!--<li class="previous disabled"><a href="#">← Older</a></li>-->
        <!--<li class="next"><a href="#">Newer →</a></li>-->
      <!--</ul>-->
    <!--</div>-->

  <!--</div>-->
<!--</div>-->

<div class="clear-fix"></div>