<section class="pad-25-top pad-75-bottom">
	<div class="container">
	   <!-- CONTAINER -->
		<div class="row">
			<div class="col-xs-12 text-center">
				<header class="section-header">
					<h2>UX Process</h2>
				</header>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12 text-center">
				<p class="lead project-text pad-25-bottom">Long-term, sustainable user experience design is an iterative, cyclical process. Design sprints will almost always start with ideation, followed by analysis & assessment, even more ideation, strategy planning, & implementation.   Testing & iteration will begin towards the end of the sprint, & will continue long after the sprint is over.  As a company's business goals evolve, & more data & insight about its users & their behavior, is gained, the products & features being designed will evolve as well.</p>
			</div>
		</div>

		<div class="row pad-25-vertical">
			<div class="col-sm-6 col-md-3">
				<div class="panel panel-default box-shadow wow animated fadeInLeftBig" data-wow-duration="1s" data-wow-delay="0.1s">
					<h3 class="text-center pathway-font pad-10-vertical">DISCOVERY <br>& IDEATION</h3>
					<div class="panel-body">
						<!--<ul>-->
							<!--<li></li>-->
							<!--<li>Learning</li>-->
						<!--</ul>-->
						<!--<a href="#" class="btn btn-default">Learn More</a>-->
					</div>
				</div>
			</div>

			<div class="col-sm-6 col-md-3">
				<div class="panel panel-default box-shadow wow animated fadeInLeftBig" data-wow-duration="1s" data-wow-delay="0.6s">
					<h3 class="text-center pathway-font pad-10-vertical">ANALYZE<br>& ASSESS</h3>
					<div class="panel-body">
						<!--<a href="#" class="btn btn-default">Learn More</a>-->
					</div>
				</div>
			</div>

			<div class="col-sm-6 col-md-3">
				<div class="panel panel-default box-shadow wow animated fadeInLeftBig" data-wow-duration="1s" data-wow-delay="1.2s">
					<h3 class="text-center pathway-font pad-10-vertical">STRATEGIZE<br>& IMPLEMENT</h3>
					<div class="panel-body">
						<!--<a href="#" class="btn btn-default">Learn More</a>-->
					</div>
				</div>
			</div>

			<div class="col-sm-6 col-md-3">
				<div class="panel panel-default box-shadow wow animated fadeInLeftBig" data-wow-duration="1s" data-wow-delay="1.8s">
					<h3 class="text-center pathway-font pad-10-vertical">TEST & <br>ITERATE</h3>
					<div class="panel-body">
						<!--<a href="#" class="btn btn-default">Learn More</a>-->
					</div>
				</div>
			</div>
		</div>
	</div>
</section>