<section class="gray-section pad-25-top pad-75-bottom">
	<div class="container">
	   <!-- CONTAINER -->
		<div class="row">
			<div class="col-xs-12 text-center">
				<header class="section-header">
					<h2>UX Process</h2>
					</header>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12 text-center">
				<p class="lead project-text">Long-term, sustainable user experience design is an iterative, cyclical process. Design sprints will almost always start with ideation.  Analysis & assessment will then occur, followed by more ideation, strategy planning, & implementation.   Testing & iteration will begin towards the end of the sprint, & will continue long after the sprint is over.  As a company's business goals evolve, & you gain more data & insight about your users & their behavior, the products & features you are designing will evolve as well.</p>
			</div>
		</div>

		<div class="row pad-25-vertical">
			<div class="col-sm-6 col-md-3">
				<div class="panel panel-default wow animated fadeInLeftBig" data-wow-duration="1s" data-wow-delay="0.1s">
					<h3 class="text-center pathway-font">IDEATION</h3>
					<div class="panel-body">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>
						<!--<a href="#" class="btn btn-default">Learn More</a>-->
					</div>
				</div>
			</div>

			<div class="col-sm-6 col-md-3">
				<div class="panel panel-default wow animated fadeInLeftBig" data-wow-duration="1s" data-wow-delay="0.6s">
					<h3 class="text-center pathway-font">ANALYZE & ASSESS</h3>
					<div class="panel-body">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>
						<!--<a href="#" class="btn btn-default">Learn More</a>-->
					</div>
				</div>
			</div>

			<div class="col-sm-6 col-md-3">
				<div class="panel panel-default wow animated fadeInLeftBig" data-wow-duration="1s" data-wow-delay="1.2s">
					<h3 class="text-center pathway-font">STRATEGIZE & IMPLEMENT</h3>
					<div class="panel-body">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>
						<!--<a href="#" class="btn btn-default">Learn More</a>-->
					</div>
				</div>
			</div>

			<div class="col-sm-6 col-md-3">
				<div class="panel panel-default wow animated fadeInLeftBig" data-wow-duration="1s" data-wow-delay="1.8s">
					<h3 class="text-center pathway-font">TEST & ITERATE</h3>
					<div class="panel-body">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>
						<!--<a href="#" class="btn btn-default">Learn More</a>-->
					</div>
				</div>
			</div>
		</div>
	</div>
</section>