<!-- WORK -->
<!--<section id="#work" class="content-section">-->
	<div class="container">   <!-- CONTAINER -->
		<div class="row">
			<div class="col-xs-12 text-center">
				<header class="section-header">
					<h2>Featured Work</h2></header>
			</div>
		</div>
		<div class="row pad-25-lateral">  <!-- WRAPPER ROW -->
			{% for project in site.data.projects %}
			<div id="{{ project.id }}" class="project col-xs-12 col-sm-6 col-md-4">   <!-- PROJECT CARDS -->
				<article id="{{ project.file }}">
					<a href="/projects/{{ project.file }}.html" class="card-snippet card">
						<p><img class="img-responsive" src="{{ project.imageURL }}"></p>
						<div class="cardDetails text-center">
						<!-- /.card-details -->
							<h3 class="text-black">{{ project.title }}</h3>
							<h4>{{ project.subtitle }}</h4>
							<button class="btn btn-primary btn-sm">View</button>
						</div>
					</a>
				</article>
			</div>     <!-- /END PROJECT CARDS -->
			<!-- /.clearfix -->
			{% endfor %}
		</div>   <!-- /END PROJECT CARDS ROW -->
	</div>   <!-- /END CONTAINER -->
<!--</section>-->
<!-- /END WORK -->