
<a href="{{ site.url }}/#work" class="btn btn-link btn-projects">
  <i class="mdi-hardware-keyboard-backspace"></i>All Projects</a>



<!--<div class="links-section">-->
  <!--<div class="container-fluid">   &lt;!&ndash; PROJECT LINKS CONTAINER &ndash;&gt;-->
    <!--<div class="row">-->
      <!--<div class="col-sm-2 all-projects">-->
        <!--<a href="{{ site.url }}/#work" class="btn btn-link">-->
          <!--<i class="mdi-hardware-keyboard-backspace"></i>All Projects</a>-->
      <!--</div>-->
      <!--<div class="col-sm-9 col-sm-offset-1">-->
        <!--{% for project in site.data.projects %}-->
        <!--<a href="/projects/{{ project.file }}.html" class="btn btn-link">{{ project.title }}</a>-->
        <!--{% endfor %}-->
        <!--<div class="row">-->
          <!---->
          <!--&lt;!&ndash;<ul class="project-links">&ndash;&gt;-->
            <!--&lt;!&ndash;{% for project in site.data.projects %}&ndash;&gt;-->
            <!--&lt;!&ndash;<li>&ndash;&gt;-->
              <!--&lt;!&ndash;<div class="col-sm-1">&ndash;&gt;-->
                <!--&lt;!&ndash;<a href="/projects/{{ project.file }}.html" class="btn btn-link">{{ project.title }}</a>&ndash;&gt;-->
              <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;</li>&ndash;&gt;-->
            <!--&lt;!&ndash;&lt;!&ndash;<li><a href="{{ site.url }}">Home</a></li>&ndash;&gt;&ndash;&gt;-->
            <!--&lt;!&ndash;&lt;!&ndash;<li><a href="{{ site.url }}/#work">Work</a></li>&ndash;&gt;&ndash;&gt;-->
            <!--&lt;!&ndash;&lt;!&ndash;<li class="active">{{ page.title }}</li>&ndash;&gt;&ndash;&gt;-->
            <!--&lt;!&ndash;{% endfor %}&ndash;&gt;-->
          <!--&lt;!&ndash;</ul>&ndash;&gt;-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>   &lt;!&ndash; END ROW &ndash;&gt;-->
  <!--</div>   &lt;!&ndash; END PROJECT LINKS CONTAINER &ndash;&gt;-->
<!--</div>-->