</div> <!-- END GLOBAL SITE FLUID CONTAINER -->

<script src="../dist/js/scripts.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/fluidbox/1.4.2/jquery.fluidbox.js"></script>
<script>
	$(function () {
		$('a.portfolioImage').fluidbox();
	})
</script>

<script>
	window.onload = function() {
		var transcense2DeviceScreen = document.getElementById("transcense2DeviceScreen");

		transcense2DeviceScreen.innerHTML
		//var transcense2DeviceScreenOnPageLoad = document.getElementById("transcense2Screen1");
	}
</script>

</body>
</html>