
<div class="clear-fix"></div>

<!-- MAIN NAVIGATION -->
<nav class="navbar navbar-inverse" role="navigation">
	<div class="container-fluid wrapper-j">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#">Brand</a>
			</div>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="{{ site.url }}">Home</a></li>
				<li><a href="#">About</a></li>
				<li><a href="#">Portfolio</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
	</div>
</nav>  <!-- END MAIN NAVIGATION -->
