/*** MEDIA QUERIES ***/

@phablet-min: 480px;
@phablet-max: 600px;
@tablet-min: 601px;
@tablet-max: 767px;


/* Devices (phablets and portrait tablets, 480px and up) */
@media (min-width: @phablet-min) {
  .pad-75-lateral {
    padding-right: @pad-75 / 5;
    padding-left: @pad-75 / 5;
  }
}

@media (min-width: @tablet-min) {
  .pad-75-lateral {
    padding-right: @pad-75 / 4;
    padding-left: @pad-75 / 4;
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {
  .no-top-pad-on-mobile {  }

  .big-h-xl {
    font-size: 4.375em;
  }

  .big-h-xxl {
    font-size: 5.625em;
  }

  .center-on-mobile {
    .text-left;
  }

  .homepage-section {
    min-height: @homepage-cover-height-md;

    .overlay {
      min-height: @homepage-cover-height-md;
    }
  }

  .jumbotron {
//    min-height: 562px;
    min-height: 700px;
    max-height: 700px;
    padding: 30px;
//    margin-bottom: 30px;
    font-size: 23px;
    font-weight: 200;
    line-height: 2.14285714;

    .text-container {
      // margin-top: 5%;
    }

    .green-background {
      padding: 6.75px;
    }

    h1, h2 {
      // font-size: 3.625em;
      font-size: 2.8em;
    }

    .text-bg-padding {
      padding: 3px 10px 8px 10px;
    }
  }

  .button-block {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    // width: 49%;
    padding: 10px 0;
    margin: 10px 0;
    text-align: center;
    display: inline-block;
  }

  .text-center-sm {
    .text-center;
  }

  .social-margin {
    margin-left: 6rem;
  }

  .pad-50 {
    padding: @pad-50;
  }

  .pad-50-top {
    padding-top: @pad-50 * 4;
  }

  .pad-50-bottom {
    padding-bottom: @pad-50 * 4;
  }

  .pad-50-right {
    padding-right: @pad-50 * 4;
  }

  .pad-50-vertical {
    padding-top: @pad-50 * 2;
    padding-bottom: @pad-50 * 2;
  }

  .pad-50-lateral {
    padding-right: @pad-50 * 4;
    padding-left: @pad-50 * 4;
  }

  .pad-75 {
    padding: @pad-75;
  }

  .pad-75-lateral {
    padding-right: @pad-75;
    padding-left: @pad-75;
  }

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {
  .homepage-cover {
    min-height: @homepage-cover-height-md;

    .overlay {
      min-height: @homepage-cover-height-md;
    }
  }

  .jumbotron {
    // min-height: 726px;

    .text-container {
      // margin-top: 5%;
    }

    h1, h2 {
      font-size: 4em;
    }

    .text-bg-padding {
      padding: 3px 10px 13px 10px;
    }
  }

  .button-block {
    .border-box;
    // width: 24%;
    padding: 20px 0;
    margin: 10px 0;
    text-align: center;
    display: inline-block;
  }

  .pad-50-left {
    padding-left: @pad-50 * 4;
  }

  .pad-50-vertical {
    padding-top: @pad-50 * 4;
    padding-bottom: @pad-50 * 4;
  }

}

/* Large devices (large desktops, 1200px and up) */
// @media (min-width: @screen-lg-min) { ... }