// CUSTOM UTILITIES

.center-inline-block {
	.display-inline;
	.pos-relative;
	margin: 0 auto;
}

.no-border-radius {
	border-radius: 0px;
}

.no-side-padding {
  padding-left: 0;
  padding-right: 0;
}

.no-vertical-margin {
  margin-top: 0;
  margin-bottom: 0;
}

.spacer {
  margin-left: 2px;
  margin-right: 2px;
}

.v-space {
	height: 8rem;
}

.v-space-md {
	height: 6rem;
}

.v-space-sm {
	height: 4rem;
}

.v-space-xs {
	height: 2rem;
}

.v-space-xxs {
	height: 1rem;
}

.inset-shadow {
	-webkit-box-shadow: inset 0px 1px 4px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px 1px 4px 1px rgba(0,0,0,0.75);
	box-shadow: inset 0px 1px 4px 1px rgba(0,0,0,0.75);
}

// PADDING UTILITIES --------------------------------------------------
@pad-25: 25px;
@pad-50: 12.5px;
@pad-75: 75px;

.pad-25-vertical {
  padding-top: @pad-25;
  padding-bottom: @pad-25;
}

.pad-25-top {
  padding-top: @pad-25;
}

.pad-25-bottom {
  padding-bottom: @pad-25;
}

.pad-50 {
  padding: @pad-50;
}

.pad-50-top {
  padding-top: @pad-50;
}

.pad-50-bottom {
  padding-bottom: @pad-50;
}

.pad-50-left {
  padding-left: 0;
}

.pad-50-right {
  padding-right: @pad-50;
}

.pad-50-vertical {
  padding-top: @pad-50;
  padding-bottom: @pad-50;
}

.pad-50-lateral {
  padding-right: @pad-50;
  padding-left: @pad-50;
}

.pad-75 {
  padding: @pad-75;
}

.pad-75-top {
  padding-top: @pad-75;
}
.pad-75-bottom {
  padding-bottom: @pad-75;
}

.pad-75-vertical {
  padding-top: @pad-75;
  padding-bottom: @pad-75;
}

.pad-75-lateral {
  padding-right: 0;
  padding-left: 0;
}

// WRAPPERS --------------------------------------------------
.wrapper-j {
	.border-box;
	margin: 0 1rem;
	// padding: 2%;
}

.side-wrapper-2em {
	margin: 0 2em;
}

.wrapper {
	width: 100%;
}
// --------------------------------------------------