---
<!-- layout: default -->
layout: home
title: Home
---

<div class="clear-fix"></div>

<div class="jumbotron">

  <!-- DESKTOP AND LAPTOP -->
  <div class="container visible-md visible-lg">
    <div class="row">
      <div class="col-xs-12">
        <div class="text-container">
          <h1>Hi.<br>My Name is Jamie Marcus.<br>I'm a
          <span class="display-inline white-on-turquoise text-bg-padding margin-top-20 spacer-2x">UX Designer </span>&<br>
          <span class="display-inline pink-on-yellow text-bg-padding margin-top-20">Front End Developer</span></h1>
        </div>
      </div>
    </div>
  </div>   <!-- END DESKTOP AND LAPTOP -->

  <!-- TABLET AND MOBILE -->
  <div class="container-fluid visible-xs visible-sm">
    <div class="row">
      <div class="col-xs-12">

        <!-- TABLET ONLY -->
        <div class="text-container text-center visible-sm">
          <h1 class="margin-bottom-10">Hi.</h1>
          <h1>My Name is Jamie Marcus.</h1>
          <h1 class="display-inline">I'm a</h1>
          <h1 class="display-inline white-on-turquoise text-bg-padding spacer-2x">UX Designer</h1>
          <h1 class="display-inline">&</h1>
          <h1 class="display-inline pink-on-yellow text-bg-padding">Front End Developer</h1>
        </div>   <!-- END TABLET ONLY -->

        <!-- MOBILE ONLY -->
        <div class="text-container text-center visible-xs">
          <h1>Hi.<br>My Name is Jamie Marcus. I'm a
          <span class="display-inline white-on-turquoise text-bg-padding margin-top-10 spacer-2x">UX Designer</span>&
          <span class="display-inline pink-on-yellow text-bg-padding margin-top-10">Front End Developer</span></h1>

        </div>		<!-- END MOBILE ONLY -->

      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">

      <!--<ul>-->
        <!--{% for project in site.data.projects %}-->
        <!--<li>-->
          <!--<div class="col-xs-12 col-sm-6 col-md-4">-->
            <!--<article id="{{ project.file }}" class="panel panel-default ">-->
              <!--<a href="https://jnmarcus.github.io/{{ project.permalink }}" class="card-snippet">-->
                  <!--<p><img class="img-responsive" src="{{ project.coverPhotoURL }}"></p>-->
                <!--<div>-->
                  <!--<h3 class="pathway-font"><small>{{ project.title }}</small></h3>-->
                  <!--<h4 class="oswald-light"><small>{{ project.subtitle }}</small></h4>-->
                  <!--<h5 class="lead">-->
                    <!--<span class="label label-success">{{ project.tag1 }}</span>-->
                    <!--<span class="label label-success">{{ project.tag2 }}</span>-->
                    <!--<span class="label label-success">{{ project.tag3 }}</span>-->
                  <!--</h5>-->
                <!--</div>-->
              <!--</a>-->
            <!--</article>-->
          <!--</div>-->
        <!--</li>-->
        <!--{% endfor %}-->
      <!--</ul>-->

    <ul class="project-cards">
      {% for project in site.data.projects %}
      <li>
        <div id="{{ project.id }}" class="project col-xs-12 col-sm-6 col-md-4">
          <article id="{{ project.file }}">
            <a href="{{ project.url }}">
              <p><img class="img-responsive" src="{{ project.imageURL }}"></p>
              <h3>{{ project.title }}</h3>
              <h4>{{ project.subtitle }}</h4>
            </a>
          </article>
        </div>
      </li>
      {% endfor %}
    </ul>

  </div>
</div>

		
